<configuration>
	<appSettings>
		<add key="UploadAddress" value="http://zatory.kiev.ua/service.aspx" />
		<add key="WebcamPageAddress" value="http://zatory.kiev.ua/WebCam.aspx?session_id={0}" />
		<add key="DefaultUploadMode" value="5000" />
		<add key="DefaultWebCamTitle" value="My Web Cam" />
		<add key="DefaultWebCamDescription" value="Type your web cam description here" />
		<add key="DefaultSnapshotParams" value="640x480 24bpp" />
	</appSettings>

</configuration>